@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Ramabhadra);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lobster);

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    clear: both;
}

header div {
    float: left;
    margin: 10px 0 10px 40px;
}

header a {
    color: #000;
    text-decoration: none;
}

header a:hover {
    color: #000;
    text-decoration: none;
}

header div h4 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0;
}

nav {
    clear: both;
    margin: 0;
    margin-bottom: 3%;
    padding: 0;
    width: 100%;
    height: 30px;
    background: #000;
}

nav ul {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-table;
    width: 9.5%;
    text-align: center;
}

nav ul li a {
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #FFF;
    padding-top: 8px;
    height: 22px;
    font-size: 75%;
    text-decoration: none;
}

nav ul li a:hover {
    background: #DCBDA9;
    color: #000;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    margin: 0;
    width: 8.5%;
    position: absolute;
    z-index: 99;
}

nav ul li ul li {
    width: 100%;
    height: 20px;
    padding: 0;
    background: #DCBDA9;
    color: #FFF;
    clear: both;
}

nav ul li ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 85%;
    color: #FFF;
    padding-top: 7px;
    height: 30px;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 205px;
    background: #4B2204;
    color: #FFF;
    clear: both;
    padding-bottom: 20px;
}

footer .content div {
    display: inline-table;
    width: 24%;
    font-size: 90%;
}

footer h4 {
    margin: 0;
    margin-top: 25px;
    text-transform: uppercase;
}

footer p {
    padding-bottom: 40px;
}

section {
    width: 100%;
    min-height: 450px;
    text-align: center;
    clear: both;
}

section h1 {
    text-align: center;
    margin-bottom: 50px;
    background: #4B2204;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 5px solid #4B2204;
    border-bottom: 5px solid #4B2204;
    font-weight: bold;
}

section:nth-of-type(1) {
    height: 390px;
    margin-bottom: 50px;
}

.content {
    width: 61.25em;
    margin: 0 auto;
    clear: both;
}

#introduction {
    clear: both;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #4B2204;
}

#introduction .content .intro {
    float: left;
    border: 1px solid #CCC;
    width: 15em;
    height: 350px;
    background: #4B2204;
    color: #FFF;
}

#introduction .content .intro p {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 90%;
}

#introduction .intro p:nth-of-type(3) {
    margin-top: 30px;
}

#introduction .container .intro p:nth-of-type(1) {
    padding-top: 20px;
}

#introduction .content .slide-viewer {
    float: right;
    position: relative;
    overflow: hidden;
    width: 45em;
    height: 350px;
    background: rgba(75, 34, 4, 0.3);
    border: 1px solid #CCC;
}

#introduction .content .slide-viewer .slide-group {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
}

.slide-1 {
    background-size: contain;
    background-image: url(../images/slides/Baseball-Team-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.slide-2 {
    background-size: contain;
    background-image: url(../images/slides/Black-Rocklanders.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-3 {
    background-size: contain;
    background-image: url(../images/slides/Black-Women-at-Camp-Shanks.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-4 {
    background-size: contain;
    background-image: url(../images/slides/Brook-School-5-6-1938--2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.slide-5 {
    background-size: contain;
    background-image: url(../images/slides/Charles-DeGroat-and-Fred-Moran.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-6 {
    background-size: contain;
    background-image: url(../images/slides/Church-School-Hillburn.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.slide-7 {
    background-size: contain;
    background-image: url(../images/slides/Early-Hillburn.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-8 {
    background-size: contain;
    background-image: url(../images/slides/Elizabeth-Thompson.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-9 {
    background-size: contain;
    background-image: url(../images/slides/Hillburn-Black-Faculty.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.slide-10 {
    background-size: contain;
    background-image: url(../images/slides/Lawson-Lawson-Livery.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-11 {
    background-size: contain;
    background-image: url(../images/slides/Malley-Brickyard-Workers---Haverstraw.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.slide-12 {
    background-size: contain;
    background-image: url(../images/slides/Rev.-Byron-Gunner.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-13 {
    background-size: contain;
    background-image: url(../images/slides/Sanders-Matthews.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-14 {
    background-size: contain;
    background-image: url(../images/slides/USO-Band-Group-Picture.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.slide-15 {
    background-size: contain;
    background-image: url(../images/slides/USO-Clubhouse-group-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.slide-16 {
    background-size: contain;
    background-image: url(../images/slides/William-Thompson.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-buttons {
    margin: 0 auto;
    position: absolute;
    width: 61.25em;
    left: 50%;
    margin-left: -490px;
    margin-top: -15px;
    text-align: center;
    z-index: 99;
    color: #4B2204;
}

.slide-buttons button {
    border: none;
    background: none;
}

.slide-btn {
    font-size: 3em;
}

.active {
    color: #FF0000;
}

#cards {
    width: 100%;
    margin-bottom: 30px;
    clear: both;
}

#cards .content .card {
    border: 1px solid #CCC;
    width: 18.75em;
    height: 190px;
    display: inline-table;
    margin: 10px;
    font-size: 90%;
}

#cards .card h4 {
    text-align: left;
    margin-bottom: 20px;
    text-transform: capitalize;
    padding-left: 20px;
}

#cards .card p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.links {
    margin-bottom: 30px;
    width: 16.25em;
    height: 600px;
    float: left;
}

.links h2 {
    text-align: right;
    margin-right: 20px;
}

.links hr {
    margin-right: 20px;
}

.links ul {
    list-style-type: none;
    margin-left: -50px;
    padding-right: 20px;
}

.links li {
    text-align: right;
    margin-bottom: 10px;
    font-size: 100%;
    text-transform: capitalize;
}

.links li a {
    text-transform: capitalize;
    text-decoration: none;
    color: #23527C;
}

.links li ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: 200px;
    display: none;
}

.links li ul li {
    font-size: 80%;
    margin-left: -30px;
}


.info {
    float: left;
    text-align: left;
    margin-bottom: 30px;
    padding-right: 30px;
    border-left: 1px solid #4B2204;
    width: 43em;
    height: 600px;
    overflow-y: scroll;
}

.info h2, h3 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 30px;
    text-transform: capitalize;
    color: #4B2204;
    font-weight: bold;
}

.info div[id] {
    display: none;
}

.image {
    float: left;
    margin-left: 20px;
    width: 9.375em;
}

.image img {
    padding: 5px;
    border: 1px solid #4B2204;
}

#aclinkscale .bio {
    width: 100%;
}

.info div p {
    padding-left: 30px;
    font-size: 90%;
}

.info div[id] {
    display: none;
}

.bio {
    float: left;
    margin-top: 0;
    width: 31em;
    height: 600px;
}

.bio a {
    margin-top: 30px;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
    color: #4598D6;
}

.bio a:hover {
    text-decoration: underline;
}

.text a:hover {
    text-decoration: underline;
}

#about {
    display: block;
}

#about .text {
    float: left;
    width: 350px;
}

#about .image {
    float: left;
}

#current .image {
    margin-left: 30px;
    margin-top: 20px;
}

ul#years {
    margin: 0;
    margin-left: 40px;
    padding: 0;
    width: 100%;
    clear: both;
}

ul#years li {
    display: inline-table;
    width: 13%;
}

ul#years li a {
    text-decoration: none;
    color: #4598D6;
}

div[id^="2"] .image {
    clear: both;
}

.links .active-link {
    padding: 5px;
    background: #4B2204;
    color: #FFF;
    line-height: 1.5;
}

#links {
    clear: both;
    height: 550px;
}

#links .content ul {
    margin: 0 auto;
    padding: 0;
    width: 275px;
    list-style-type: none;
}

#links .content ul li {
    margin-bottom: 10px;
    width: 275px;
}

#links .content ul li a {
    display: block;
    width: 100%;
    padding: 10px 5px;
    background: #000;
    color: #FFF;
    text-decoration: none;
}

#links .content ul li a:hover {
    background: #DCBDA9;
    border: 1px solid #000;
    color: #000;
}

#contribute .content p {
    width: 450px;
    text-align: left;
    margin: 0 auto;
}

#contribute .content p:nth-of-type(2) {
    text-align: center;
    margin-top: 40px;
}
