@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Ramabhadra);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
    width: 100%;
    height: 100%;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    clear: both;
}

header div {
    float: left;
    margin: 10px 0 10px 40px;
}

header div h4 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0;
}

nav {
    clear: both;
    margin: 0;
    margin-bottom: 3%;
    padding: 0;
    width: 100%;
    height: 30px;
    background: #000;
}

nav ul {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-table;
    width: 8.5%;
    text-align: center;
}

nav ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 85%;
    color: #FFF;
    padding-top: 7px;
    height: 30px;
}

nav ul li a:hover {
    background: #DCBDA9;
    color: #000;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    margin: 0;
    width: 8.5%;
    position: absolute;
    z-index: 99;
}

nav ul li ul li {
    width: 100%;
    height: 20px;
    padding: 0;
    background: #DCBDA9;
    color: #FFF;
    clear: both;
}

nav ul li ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 85%;
    color: #FFF;
    padding-top: 7px;
    height: 30px;
}

section {
    width: 100%;
    text-align: center;
    clear: both;
}

section h1 {
    text-align: left;
    margin-bottom: 40px;
    color: #4B2204;
    text-transform: uppercase;
    font-weight: bold;
}

section:nth-of-type(1) {
    height: 390px;
    margin-bottom: 50px;
}

section .container {
    width: 980px;
    height: 500px;
    clear: both;
}

section .container .intro {
    border: 1px solid #CCC;
    height: 350px;
    background: #4B2204;
    color: #FFF;
}

section .container .intro p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

section .container .intro p:nth-of-type(1) {
    padding-top: 20px;
}

.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 350px;
    background: rgba(75, 34, 4, 0.3);
    border: 1px solid #CCC;
}

.slide-group {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
}

.slide-1 {
    background-size: contain;
    background-image: url(../images/slides/Baseball-Team-2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-2 {
    background-size: contain;
    background-image: url(../images/slides/Black-Rocklanders.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-3 {
    background-size: contain;
    background-image: url(../images/slides/Black-Women-at-Camp-Shanks.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-4 {
    background-size: contain;
    background-image: url(../images/slides/Brook-School-5-6-1938--2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-5 {
    background-size: contain;
    background-image: url(../images/slides/Charles-DeGroat-and-Fred-Moran.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-6 {
    background-size: contain;
    background-image: url(../images/slides/Church-School-Hillburn.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-7 {
    background-size: contain;
    background-image: url(../images/slides/Early-Hillburn.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-8 {
    background-size: contain;
    background-image: url(../images/slides/Elizabeth-Thompson.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-9 {
    background-size: contain;
    background-image: url(../images/slides/Hillburn-Black-Faculty.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-10 {
    background-size: contain;
    background-image: url(../images/slides/Lawson-Lawson-Livery.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-11 {
    background-size: contain;
    background-image: url(../images/slides/Malley-Brickyard-Workers---Haverstraw.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-12 {
    background-size: contain;
    background-image: url(../images/slides/Rev.-Byron-Gunner.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-13 {
    background-size: contain;
    background-image: url(../images/slides/Sanders-Matthews.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-14 {
    background-size: contain;
    background-image: url(../images/slides/USO-Band-Group-Picture.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-15 {
    background-size: contain;
    background-image: url(../images/slides/USO-Clubhouse-group-photo.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-16 {
    background-size: contain;
    background-image: url(../images/slides/William-Thompson.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide-buttons {
    margin: 0 auto;
    position: absolute;
    width: 980px;
    left: 50%;
    margin-left: -490px;
    margin-top: -15px;
    text-align: center;
    z-index: 99;
    color: #4B2204;
}

.slide-buttons button {
    border: none;
    background: none;
}

.slide-btn {
    font-size: 3em;
}

.active {
    color: #FF0000;
}

section .row {
    width: 100%;
    margin: 0 auto;
}

section .card {
    border: 1px solid #CCC;
    width: 290px;
    height: 200px;
    display: inline-table;
    margin: 10px;
}

section .card h4 {
    text-align: left;
    margin-bottom: 20px;
    text-transform: capitalize;
    padding-left: 20px;
}

section .card p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.trustees {
    margin-bottom: 30px;
}

.trustees ul {
    list-style-type: none;
    margin-left: -50px;
    padding-right: 20px;
}

.trustees li {
    text-align: right;
}

.trustees li a {
    text-transform: capitalize;
}

.image {
    float: left;
    margin-left: 20px;
    width: 150px;
}

.image img {
    padding: 5px;
    border: 1px solid #4B2204;
}

.bios {
    float: left;
    text-align: justify;
    margin-bottom: 30px;
    border-left: 1px solid #4B2204;
    min-height: 900px;
}

.bios h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 30px;
    text-transform: capitalize;
    color: #4B2204;
    font-weight: bold;
}

.bios div[id] {
   display: none;
}

#jbrathwaite {
    display: block;
}

#aclinkscale .bio {
    width: 100%;
}

.bios div p {
    padding-left: 30px;
}

.bios div[name] {
    display: none;
}

.bio {
    float: right;
    width: 430px;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 216px;
    background: #4B2204;
    color: #FFF;
    clear: both;
}

footer h4 {
    margin-top: 25px;
    text-transform: uppercase;
}